.navbar-dash {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    background-color: #fff;
    border-bottom: 1px solid #e0e0e0;
    font-family: Arial, sans-serif;
  }
  
  .navbar-left-dash {
    display: flex;
    align-items: center;
  }
  
  .menu-icon-nav {
    font-size: 24px;
    margin-right: 10px;
    cursor: pointer;
  }
  
  .logo-dash {
    font-family: 'Pacifico';
    font-size: 24px;
  }
  
  .navbar-center-dash {
    flex-grow: 1;
    display: flex;
    justify-content: center;
  }
  
  .search-bar-dash {
    display: flex;
    align-items: center;
    background-color: #f4f4f8;
    padding: 8px 12px;
    border-radius: 20px;
    width: 300px;
  }
  
  .search-icon-dash {
    color: #a0a0a0;
    font-size: 18px;
    margin-right: 8px;
  }
  
  .search-bar-dash input {
    border: none;
    background: transparent;
    outline: none;
    width: 100%;
  }
  
  .navbar-right-dash {
    display: flex;
    align-items: center;
  }
  
  .icon-dash {
    font-size: 20px;
    margin-right: 20px;
    color: #a0a0a0;
    cursor: pointer;
  }
  
  .user-info-dash {
    display: flex;
    align-items: center;
    font-size: 14px;
  }
  
  .user-info-dash .user-role-dash {
    color: #8a2be2; /* Cor do papel do usuário */
  }
  
  .user-avatar-dash {
    width: 30px;
    height: 30px;
    background-color: #000;
    border-radius: 50%;
    margin-left: 10px;
    position: relative;
  }
  
  .user-avatar-dash::after {
    content: '';
    width: 8px;
    height: 8px;
    background-color: #00ff00;
    border-radius: 50%;
    position: absolute;
    bottom: 2px;
    right: 2px;
    border: 2px solid #fff;
  }
  