.teste{
  background-color: #ffff;
  width: 100%;
  font-family: 'Roboto', sans-serif;
}

.inner {
    display: flex;
    gap: 25px;
  }
  .titulo{
    text-align: center;
    margin-top: 0px;
    padding-top: 20px;
  }
  .item{
    min-height: 230px;
    min-width: 240px;
    border-radius: 12px;
    padding: 36px 16px;
    border: 10px solid;
    border-color: #fafafa;
    transition: 0.3s ease;
    font-size: 15px;
  }
  .item:hover{
    color:#F76680;
    border: 4px solid;
    border-color: #F76680
  }
  .description{
    color: gray;
  }
  .carousel{
    cursor: grab;
    overflow: hidden;
    width: 94%;
    height: 100%;
  }
  .item .icon{
  border-radius: 50%;
  padding: 17px 10px 6px;
  border: 3px solid orange;
}