.navbar {
  display: flex;
  justify-content: space-between; 
  align-items: center;
  padding: 1rem 2rem; 
  background-color: #ffffff; 
}

.navbar-logo {
  width: 92px;
  height: 35px;
  flex-shrink: 0;
  color: #000;
  text-align: center;
  font-family: 'Pacifico', sans-serif;
  font-size: 32px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.navbar-menu {
  display: flex;
  list-style: none;
  margin: 0;
  justify-content: center; 
  flex-grow: 1;
}

.navbar-menu li {
  margin: 0 1rem;
  font-family: 'Arial', sans-serif;
}

.navbar-cadastrar {
  background-color: #6c63ff;
  color: white;
  border: none;
  padding: 0.5rem 1rem;
  border-radius: 4px;
}

.navbar-menu a{
  text-decoration: none;
    color: #333; 
    transition: color 0.3s;
}

.navbar-menu a:hover {
  color: #6c63ff;
}

.navbar-login {
  background: linear-gradient(to right, #ff6a00, #ee0979);
  color: white;
  border: none;
  border-radius: 5px;
  padding: 10px 20px; 
  cursor: pointer; 
  transition: background-color 0.3s;
}

.navbar-login:hover {
  background-color: #ee0979;
}