.login-page {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #f8f8f8;
}

@media screen and (min-width: 480px) {
  .login-page {
    overflow: hidden;
  }
}