.project-table-container {
    width: 90%;
    margin: 40px auto;
    padding: 20px;
    background-color: #ffffff;
    border-radius: 10px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
    z-index: 1;
    transform: translateX(20px);
  }
  
  .project-table-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-bottom: 20px; 
    margin-bottom: 20px; 
  }
  
  .project-table-header h2 {
    margin: 0;
    font-size: 2rem;
  }
  
  .view-all {
    font-size: 0.875rem;
    color: #007bff;
    cursor: pointer;
    margin-left: 10px;
    text-decoration: underline;
  }
  
  .month-selector {
    margin-left: auto;
  }
  
  .month-selector select {
    padding: 5px 10px;
    border-radius: 5px;
    border: 1px solid #ddd;
  }
  
  .table-headers {
    display: grid;
    grid-template-columns: 1.5fr 1fr 1fr 1fr 1fr 1fr;
    padding: 25px;
    background-color: #eff2f8;
    border-radius: 5px;
    font-weight: bold;
    text-align: left;
    margin-bottom: 15px;
  }
  
  .table-content {
    display: flex;
    flex-direction: column;
  }
  
  .table-row {
    display: grid;
    grid-template-columns: 1.5fr 1fr 1fr 1fr 1fr 1fr;
    padding: 30px 0; 
    border-bottom: 1px solid #e0e0e0;
  }
  
  .cell {
    display: flex;
    align-items: center;
  }
  
  .account-info {
    display: flex;
    align-items: center;
    margin-left: 25px;
  }
  
  .avatar {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: #000000; 
    position: relative;
    margin-right: 10px;
  }
  
  .avatar::after {
    content: "";
    width: 12px;
    height: 12px;
    border-radius: 50%;
    background-color: #28a745;
    position: absolute;
    bottom: 0;
    right: -2px;
    border: 3px solid #ffffff;
  }
  
  .status {
    padding: 5px 10px;
    border-radius: 15px;
    color: white;
    font-size: 0.875rem;
    text-align: center;
  }
  
  .status.concluido {
    background-color: #28a745;
  }
  
  .status.cancelado {
    background-color: #dc3545;
  }
  
  .status.andamento {
    background-color: #007bff;
  }